<!-- Contêiner principal com espaçamento horizontal (px-4) e alinhamento central do texto -->
<div class="container px-4 text-center">

  <!-- Linha para o título -->
  <div class="row gx-5">
    <!-- Coluna que contém o título principal da página -->
    <div class="col">
      <h1 class="text-primary display-4">Cadastro de Pessoas</h1>
    </div>
  </div>

  <!-- Linha para os botões de navegação -->
  <div class="row gx-5 mt-4">

    <!-- Coluna contendo o botão para a página de cadastro -->
    <div class="col">
      <a routerLink="/cadastro" class="btn btn-success btn-lg">Cadastrar Nova Pessoa</a>
    </div>

    <!-- Coluna contendo o botão para a página de listagem -->
    <div class="col">
      <a routerLink="/listagem" class="btn btn-info btn-lg">Listar Pessoas Cadastradas</a>
    </div>

  </div>
</div>



